@media(max-width: 1170px){
    .works__items{
        margin-left: auto;
    }
    .shape__container{
        width: 100%;
    }
    .works__shape-img-1{
        width: 90%;
    }
    .works__shape-img-2{
        width:90%;
    }
    .works__shape-img-3{
        width:90%;
    }
    .works__our{
        padding-left: 0;
    }
    .contacts__img{
        display: none;
    }
    .contacts__inner{
        flex-direction: column;
    }
    .contacts__list{
        margin: auto;
        padding-bottom: 25px;
    }
    .contacts__form{
        margin: auto;
        margin-bottom: 20px;
    }
    .footer__inner{
        justify-content: end;
    }
    .footer__briefs{
        margin-left: 35px;
    }
}

@media(max-width: 1109px){
    .menu__list{
        margin-right: 100px;
    }
    .user__nav-btn{
        margin-left: 16px;
    }
    
}

@media(max-width: 987px){
    .menu__list-link{
        font-size: 10px;
    }
    .user__nav-phone{
        font-size: 10px;
    }
    .user__nav-btn{
        font-size: 10px;
        padding: 10px 18px
    }
    .top__content{
        margin-right: 80px;
        padding-left: 30px;
    }
    .slick-dots button{
        margin-right: 15px;
    }

    .top__title{
        font-size: 10px;
    }
    .top__text{
        font-size: 20px;
    }
    .top__btn{
        font-size: 10px;
    }
    .top__slider{
        
    }
    .top__slider-item{
        margin-right: 0;
    }
    .top__slider-img{
        width: 80%;
    }
    .top__slider-num{
        font-size: 20px;
    }
    .top__slider-text{
        font-size: 30px;
    }
    .about{
        padding: 0 10px;
        margin-bottom: 100px;
    }
    .about__contents{
        font-size: 10px;
    }
    .about__text{
        font-size: 20px;
        line-height: 29px;
    }
    .about__work{
        font-size: 15px;
        line-height: 28px;
    }
    .clients__img-1{
        width: 90%;
    }
    .clients__img-2{
        width: 90%;
    }
    .clients__img-3{
        width: 90%;
    }
    .clients__img-4{
        width: 90%;
    }
    .clients__img-5{
        width: 90%;
    }
    .clients__img-6{
        width: 90%;
    }
    .clients__img-7{
        width: 90%;
    }
    .clients__img-8{
        width: 90%;
    }
    .clients__img-9{
        width: 90%;
    }
    .footer__information{
        flex-wrap: wrap;
    }
    .footer__about{
        margin-left: 35px;
    }
    .footer__contacts{
        margin-left: 35px;
    }
} 

@media(max-width: 877px){
    .menu{
        flex-wrap: wrap;
        height: auto;
    }
    .menu__list{
        margin-top: 95px;
        margin-right: -225px;
        justify-content: flex-end;
    }
    .menu__list-item + .menu__list-item{
        margin-left: 30px;
    }
    .user__nav{
        order: 1;
        margin-top: 50px;
        margin-bottom: 85px;
    }
    .user__nav-btn{
        padding: 10px 17px;
    }
    .top__heading{
        flex-wrap: wrap;
    }
    .top__content{
        width: 100%;
    }
    .top__title{
        text-align: center;
    }
    .top__text{
        width: 100%;
        text-align: center;
    }
    .top__btn{
        display: block;
        text-align: center;
    }
    .about{
        margin-top: -100px;
    }
    .works__our{
        font-size: 20px;
    }
    .works__items-link{
        display: none;
    }
    .works__menu-list{
        display: none;
    }
    .shape__gallery{
        margin-bottom: 25px;
    }
    .briefs__main{
        padding: 0 10px;
    }
    .briefs__text{
        padding: 0 10px;
    }
    .contacts__title{
        font-size: 20px;
        text-align: center;
    }
    .contacts__text{
        font-weight: 400;
        text-align: center;
    }
}

@media(max-width: 816px){
    .briefs__main{
        font-size: 20px;
    }
    .briefs__item{
        margin-bottom: 25px;
    }
    .briefs__item-hidden::before{
        width: 0;
        height: 0;
    }
    .briefs__item-hidden{
        font-size: 0;
    }
    .briefs__item-text{
        font-size: 30px;
        line-height: 44px;
    }
    .briefs__text{
        margin-bottom: 25px;
        font-size: 15px;
    }
    .clients__title{
        font-size: 20px;
    }
}
@media(max-width: 571px){
    .contacts__connections{
        flex-direction: column;
    }
    .input__name{
        width: 100%;
    }
    .phone__num{
        width: 100%;
        margin-bottom: 35px;
    }
    .mail__num{
        width: 100%;
    }
    .input__message{
        width: 100%;
    }
    .contacts__phone{
        margin-right: 0;
    }
    .contacts__title{
        font-size: 15px;
    }
    .contacts__text{
        font-size: 13px;
    }
    .footer__inner{
        flex-wrap: wrap;
    }
    .footer__copy{
        display: none;
    }
    .footer__social{
        margin-bottom: 0;
    }
}

@media(max-width: 524px){
    .menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #5551F7;
        text-align: center;
        transform: translateY(-300%);
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        transition: all .7s;
        z-index: 5;
        overflow: auto;
    }
    .menu__logo-img{
        display: block;
        margin-left: -136px;
        margin-top: -155px;
    }
    .menu__logo--active{
        margin-right: 0;
    }
    .menu--active{
        transform: translateY(0%);
    }
    .user__nav{
        display: block;
    }
    .user__nav-phone{
        display: none;
    }
    .user__nav-btn{
        background-color: #FF5C66;
        border: none;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        transition: all .5s;
        position: absolute;
        width: 90%;
        height: 59px;
        left: 0;   
    }
    .menu__btn{
        display: flex;
        position: absolute;
        right: 10px;
        top: 55px;
    }
    .menu__list{
        display: flex;
        flex-direction: column;
        margin-top: 125px;
        margin-left: auto;
        margin-right: auto;
    }
    .menu__list-item{
        margin-bottom: 40px;
    }
    .menu__list-item + .menu__list-item{
        margin-left: 0;
    }
    .menu__list-link{
        color: #fff;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        
    }
    .top{
        overflow: hidden;
        overflow-x:hidden; 
    }
    .top__title{
        text-align: left;
    }
    .top__text{
        width: 300px;
        text-align: left;
    }
    .top__btn{
        display: inline;
    }
    .top__slider{
        width: 80%;
        
    }
    .top__slider-content{
        width: 100px;
    }
    .top__slider-text{
        font-size: 25px;
    }
    .about{
        margin-bottom: 80px;
        margin-top: -85px;
    }
    .about__contents{
        font-size: 10px;
    }
    .about__text{
        font-size: 15px;
        line-height: 21px;
    }
    .about__work{
        font-size: 13px;
        line-height: 24px;
    }
    .contacts__form{
        margin-left: 0;
        width: 100%;
    }
    .contacts__check{
        display: none;
    }
    .contacts__btn{
        width: 100%;
    }
    .contacts{
        overflow: hidden;
    }
    .logo{
        margin-left: 10px;
    }
}

@media(max-width: 410px){
    .menu__logo-img{
        display: block;
        margin-left: -80px;
        margin-top: -155px;
    }
    .top__text{
        font-size: 25px;
    }
    .menu__list{
        margin-bottom: 115px;
        justify-content: flex-start;
    }
    .user__nav-btn{
        bottom: 55px;
    }
    .menu{
        flex-direction: inherit;
    }
}